.header-top {
  padding: 60px 60px 0px 60px;
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.header-top-links {
  background-color: rgba(71, 68, 68, 0.9);
}

.header-top .logo-icon {
  transition: transform 0.4s ease-in-out;
}

.logo-container:hover .logo-icon {
  transform: rotateZ(10deg) scale(1.1);
}
.header-top .logo-text {
  transition: transform 0.4s ease-in-out;
}

.logo-container:hover .logo-text {
  transform: rotateZ(-10deg) scale(1.1) translateX(10px);
}

.say-hello-box {
  transition: background-color 0.6s ease-in;
}

.say-hello-box:hover {
  background-color: #dd582d;
}

@media screen and (max-width: 768px) {
  .header-top {
    padding: 40px 40px 0px 40px;
  }

  .logo-container {
    width: 60px;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .header-top {
    padding: 25px 30px 0px 30px;
  }

  .logo-container {
    width: 30px;
    height: auto;
  }
}
