.app-text {
  font-size: 65px;
  color: #ffffff;
}

.app-text-anim:hover {
  animation: textHover 0.5s forwards;
}

.app-text-anim-no-move:hover {
  animation: textHoverNoMove 0.5s forwards;
}

@keyframes textHover {
  50% {
    color: #ffa07a;
    transform: translateY(0px);
  }
  100% {
    color: #ff4500;
    transform: translateY(-1px);
  }
}

@keyframes textHoverNoMove {
  50% {
    color: #ffa07a;
  }
  100% {
    color: #ff4500;
  }
}
