.team-writeup-header {
  padding-top: 80px;
  font-size: 70px;
  color: #dd582d;
}

.team-writeup-text {
  font-size: 30px;
  color: white;
  padding-top: 80px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
}
