#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

.swiperobject-tma {
  background: #101010;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  color: #000;
}

.swiperobject-tma .swiper {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
}

.swiperobject-tma .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 800px;
}

.swiperobject-tma .swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 20px;
}

@media (max-width: 1280px) {
  .swiperobject-tma {
    margin: 70px 90px 0px 90px;
  }

  .swiperobject-tma .swiper {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .swiperobject-tma .swiper-slide img {
    border-radius: 15px;
  }
}

@media (max-width: 992px) {
  .swiperobject-tma {
    margin: 70px 70px 0px 70px;
  }

  .swiperobject-tma .swiper {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .swiperobject-tma .swiper-slide img {
    border-radius: 14px;
  }
}

@media (max-width: 768px) {
  .swiperobject-tma {
    margin: 40px 50px 0px 50px;
  }

  .swiperobject-tma .swiper {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .swiperobject-tma .swiper-slide img {
    border-radius: 14px;
  }
}

@media (max-width: 480px) {
  .swiperobject-tma {
    margin: 0px 30px 0px 30px;
  }

  .swiperobject-tma .swiper {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .swiperobject-tma .swiper-slide img {
    border-radius: 10px;
  }
}
