.work-together,
.services-more,
.testimonnial,
.killer-header,
.process
{
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: #101010;
}


.service-types{
  padding-left: 12vw;
  padding-right: 12vw;
  background-color: #101010;

}

.killer-header {
  background: linear-gradient(to bottom, rgb(29, 12, 12) 20%, #101010 70%);
}

.process {
  padding-top: 80px;
  padding-left: 160px;
  padding-right: 160px;
}
