.work-together,
.services-more,
.testimonnial,
.killer-header {
  padding-left: 120px;
  padding-right: 120px;
  background-color: #101010;
}

.killer-header {
  background: linear-gradient(to bottom, rgb(29, 12, 12) 20%, #101010 70%);
}
