.worktogether-dev .arrow-container {
  background-color: #dd582d;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.worktogether-dev .arrow {
  transform: rotate(-45deg);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.worktogether-dev .arrow:hover {
  transform: rotate(0deg);
  z-index: 1;
}

.worktogether-dev {
  background-image: radial-gradient(
    ellipse 100% 130% at center 70%,
    #101010 55%,
    #dd582d 100%
  );
  width: 100%;
}

.scroll-container-intro {
  position: relative;
  padding: 100px 0 100px 0;
}

.blob-with-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blob-container {
  position: absolute;
}

.blob-container-1 {
  position: absolute;
  top: 30px;
}
.portfolio-intro-1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test {
  position: relative;
}

.test-1 {
  position: relative;
}
