.service-more-card {
  width: 100%;
  align-self: flex-start;
  border-width: 1px;
  min-height: 600px;
  border-color: #181818;
 
}

.service-more-card:hover {
  animation: borderHover 1s forwards;
}

@keyframes borderHover {
  0% {
    border-width: 1px;
    border-color: #ffa07a;
  }
  100% {
    border-width: 1px;
    border-color: #ff4500;
  }
}

@media (max-width: 480px) {
  .service-more-card{
    min-height: 300px;
  }
}
