.killer-header-dev {
  padding-top: 100px;
  overflow: hidden;
}

.killer-header-dev .text-line-1 {
  font-size: 8vw;
  color: white;
  padding-right: 10vw;
  padding-bottom: -8vw;
  opacity: 0;
  visibility: hidden;
  transform: translateX(200%);
}

.killer-header-dev .text-line-2 {
  font-size: 8vw;
  color: #ffffff;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-200%);
}

.killer-header-dev .text-line-3 {
  font-size: 6vw;
  color: white;
}

.killer-header-dev .container {
  justify-content: center;
  align-items: center;
}

.rotating-text-container {
  width: 25vw;
  display: flex;
  justify-content: flex-start;
  padding-left: 1vw;
}

.rotating-text {
  font-size: 6vw;
  color: #f7764c;
}
.rotating-text p {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}
.rotating-text p .word {
  position: absolute;
  display: flex;
  opacity: 0;
}
.rotating-text p .word .letter {
  transform-origin: center center 25px;
}
.rotating-text p .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.rotating-text p .word .letter.in {
  transition: 0.38s ease;
}
.rotating-text p .word .letter.behind {
  transform: rotateX(-90deg);
}

.w-1 {
  color: rgb(255, 180, 142);
}

.w-2 {
  color: rgb(253, 162, 116);
}

.w-3 {
  color: rgb(253, 116, 48);
}
.w-4 {
  color: rgb(252, 89, 8);
}

@media (max-width: 480px) {
  .killer-header-dev {
    padding-top: 50px;
  }
}

.animation-left {
  visibility: visible;
  opacity: 1;
  animation: killerheader-anime-left 3s cubic-bezier(0.1, 0.75, 0.78, 1.02)
    forwards;
}

.animation-right {
  visibility: visible;
  opacity: 1;
  animation: killerheader-anime-right 3s cubic-bezier(0.1, 0.75, 0.78, 1.02)
    forwards;
}

@keyframes killerheader-anime-left {
  0% {
    opacity: 0;
    visibility: visible;
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes killerheader-anime-right {
  0% {
    opacity: 0;
    visibility: visible;
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
