.image-peter {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.image-peter img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.circle {
  position: absolute;
  width: 100%; /* Adjust to the size of your circle */
  height: 100%; /* Adjust to the size of your circle */
  background: radial-gradient(circle at center, transparent 50%, white 50%);
  /* animation: move 3s linear infinite; */
}

.circle-2 {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-color: aqua;
}

.clip-test {
  clip-path: circle(50% at 50% 50%);
  height: 200px;
  width: 200px;
}

.rectangle {
  width: 300px;
  height: 300px;
  background-color: blue;
}
