.scroll-container {
  position: relative;
}

.arrow-container-scroll {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  bottom: 25px;
  left: 0;
  right: 0;
}

.arrow-1-1 {
  width: 100px;
  height: 100px;
  background: #dd582d;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
}

.arrow-inside {
  width: 60px;
  height: 60px;
  background: #dd582d;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: table;
}

.arrow-inside:before {
  width: 52px;
  height: 52px;
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}

.arrow-inside i.fa {
  font-size: 2rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 1.5s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.4, 0.4, 0.4);
    transform: scale3d(0.4, 0.4, 0.4);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.4, 0.4, 0.4);
    transform: scale3d(0.4, 0.4, 0.4);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  animation-iteration-count: infinite;
}
