.footer .footer-subsection:hover {
  color: aliceblue;
}

.footer {
  padding-left: 10vw;
  padding-right: 10vw;
  background-image: radial-gradient(
    ellipse 50% 50% at center 115%,
    #dd582d 40%,
    #101010 100%
  );
}

@media (max-width : 480px){
  .footer {
    padding-left: 8vw;
    padding-right: 8vw;
  }
}
