.arrow-container {
  background-color: #dd582d;
  border-radius: 50%;
  width: 23px;
  height: 23px;
}

.arrow {
  transform: rotate(-45deg);
  transition: transform 1s ease-in-out;
  z-index: 1;
}

.arrow:hover {
  transform: rotate(0deg);
  z-index: 1;
}
