.arrow-container {
  background-color: #dd582d;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.arrow {
  transform: rotate(-45deg);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
  margin-bottom: 4px;
}

/* this margin, becasue the arrow is not alligned properly */

.arrow:hover {
  transform: rotate(0deg);
  z-index: 1;
}
