.slide {
  margin: 30px 30px;
}

/* .client-types .client-types-header {
 font-size: 2rem;
} */

.client-types .marquee {
  padding-top: 148px;
}

@media (max-width: 768px) {
  .client-types .marquee {
    padding-top: 70px;
  }
}

@media (max-width: 480px) {
  .client-types .marquee {
    padding-top: 70px;
  }
}
