
html {
  font-size: 16px; /* 1rem = 16px */
}

@media (max-width: 480px) {
  html {
    font-size: 8px;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: zen-antque-regular;
  src: url(../public/ZenAntique-Regular.woff);
}

.zen-antque-regular {
  font-family: zen-antque-regular;
}

@font-face {
  font-family: red-hat-text;
  src: url(../public/red-hat.text.ttf);
}

.red-hat-text {
  font-family: red-hat-text;
}

@font-face {
  font-family: red-hat-text-medium;
  src: url(../public/red-hat.text-medium.ttf);
}

.red-hat-text-medium {
  font-family: red-hat-text-medium;
}

.red-hat-text-bold {
  font-family: red-hat-text;
  font-weight: bold;
}

.text-left-white-header {
  color: white;
  text-align: left;
  font-size: 2.5rem;
}

.text-left-white-header-2 {
  color: white;
  text-align: left;
  font-size: 1.5rem;
}

.text-left-normal {
  text-align: left;
  font-size: 1rem;
}
