.culture-continer .header-swiper {
  padding-top: 120px;
  padding-bottom: 40px;
}

.culture-continer .culture-main {
  padding-left: 10vw;
  padding-right: 10vw;
}

@media (max-width: 992px) {
  .culture-continer .header-swiper {
    padding-top: 100px;
  }
}

@media (max-width: 768px) {
  .culture-continer .header-swiper {
    padding-top: 100px;
  }
}

@media (max-width: 480px) {
  .culture-continer .header-swiper {
    padding-top: 100px;
  }
}
