body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  top: 300px;
  width: 100px;
  height: 100px;
  position: relative;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

#infoi {
  background-color: blue;
  position: absolute;
  width: 50px;
  height: 50px;
  animation: rotate 5s infinite linear;
}

#navi {
  background-color: rgb(0, 0, 0);
  position: absolute;
  width: 20px;
  height: 20px;
}

@keyframes borderRadiusChange {
  0% {
    border-radius: 0%;
  }
  50% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
