body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  height: 400px;
  width: 600px;
  background-color: aqua;
}

#infoi {
  height: 100px;
  width: 100px;
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#navi {
  position: absolute;
  background-color: aquamarine;
  height: 100px;
  width: 100px;
}
